/* Basic Styles */
:root {
    --swiper-pagination-bottom: -1rem;
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-color: #00bfff;
    --swiper-navigation-color: #00bfff;
}

body {
    background: #212121;
    color: #ffffff;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin: 2rem 0;
}


/* Styles for the step indicator */
.step-indicator-container {
    position: relative;
    display: flex;
    gap: 8rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.step-indicator {
    &:after {
        content: '';
        position: absolute;
        top: 25%;
        transform: translate(-100%, -50%);
        width: 8rem;
        border-bottom: 4px dotted #55ccf3;
    }
}

.step-indicator:first-child {
    &:after {
        display: none;
    }
}


.step-indicator.active,
.step-indicator.prevActive {
    &:after {
        border-bottom: 4px solid #55ccf3;
        border-radius: 4px;
    }

    & .step-indicator-index {
        background-color: #55ccf3;
        color: #ffffff;
    }
}

.step-indicator-index {
    position: relative;
    padding: 6px 12px;
    border-radius: 50%;
    border: 1px solid #55ccf3;
    background-color: transparent;
    color: #55ccf3;
    width: fit-content;
    margin: 0 auto 1rem;
}



/* Upload Styles */
.upload {
    position: relative;
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.center {
    margin: auto;
}

input[type="number"],
input[type="text"] {
    background: transparent;
    border: 1px solid #55ccf3;
    color: #ffffff;
    font-family: sans-serif;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.15rem;
    width: 200px;
}

input[type="file"]{
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: -1px;
    left: 0;
    width: 0.1px;
    height: 0.1px;
}

label {
    padding-top: 1rem;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 1.15rem;
}

label[for="video-upload"]{
    background: transparent;
    border: 1px dashed #55ccf3;
    padding: 10px;
    color: #55ccf3;
    font-family: sans-serif;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.15rem;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    span {
        width: fit-content;
        margin: 0 auto;
    }
}

label[for="video-upload"]:hover{
    background: #55ccf3;
    color: #fff;
}


input[type="file"]:focus + label[for="video-upload"],
label[for="video-upload"].file-uploaded {
    border: 1px solid #00bfff;
    background: #00bfff;
    color: #fff;
}

/* Submit/Button Styles */
.submit {
    background: #55ccf3;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    text-decoration: none;
}

.submit:hover {
    background: #00bfff;
    color: #FFFFFF;
    cursor: pointer;
}

/* Slider Styles */
.generated-frames-container,
.selected-frames-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.swiper-container {
    width: calc(80%);
    margin: 0 auto 2rem auto;
    overflow-x: hidden;
    position: relative;
}

.swiper-container .swiper-wrapper {
    height: auto;
}

.swiper-container.swiper-horizontal .swiper-pagination {
    position: relative;
    top: 0;
    bottom: 0;
    margin-top: 1.5rem;
    left: -0.5rem;
    width: calc(100% + 1rem);
}

.swiper-navigation {
    height: fit-content;

    & .swiper-button-next,
    & .swiper-button-prev {
        margin-top: -110px;
    }
}


.frame {
    max-width: 300px;
    margin-bottom: 10px;
    border-radius: 8px;
}

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    position: absolute;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid white;
    border-radius: 4px;
    display: grid;
    place-content: center;
    transform: translateY(-0.075em);
}

input[type="checkbox"]::before {
    content: "";
    background-color: #55ccf3;
    width: 1rem;
    height: 1rem;
    border-radius: 4px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}


/* Label & Input Styles */
.selected-frames-label,
.highlight-frames-label,
.opacity-label {
    margin-bottom: 1rem;
}

.selected-frames-input,
.highlight-frames-input,
.opacity-input {
    margin-bottom: 2rem;
}

/* Combined Image (Step 4) Styles */
.combined-image-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.combined-image {
    width: 600px;
    margin-bottom: 10px;
    border-radius: 8px;
}